<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h3>Задание 1</h3>
    <p>Patience is a key element of success</p>

    <h3>Задание 2</h3>
    <p>If you think your teacher is tough, wait till you get a boss</p>
    <p>Life is not fair — get used to it!</p>
    <p>Success is a lousy teacher. It seduces smart people intothinking they can’t lose</p>
    <p>Be nice to nerds. Chances are you’ll end up working for one</p>

  </div>

</body>
</html>